@page "/crud"
@using CRUD.Entity
@using global::CRUD.Pages.Components
@inject HttpClient Http
@inject IDialogService DialogService
@inject Blazored.LocalStorage.ILocalStorageService LocalStore





<MudPaper Width="100%">
	<MudContainer Fixed="true">
        <div class="mt-5">
            <MudButton @onclick="OpenAddDialog" Variant="Variant.Filled" Color="Color.Primary">
    Open Simple Dialog
</MudButton>
        </div>
		<MudTable Class="mt-5" Items="@riders" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Riders, bool>(FilterCycleCheck)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Rider Descriptions</MudText>
        <MudSpacer />
        <MudTextField Immediate="true" @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Rider Name</MudTh>
        <MudTh>Phone Number</MudTh>
        <MudTh>Address</MudTh>
        <MudTh>Job Type</MudTh>
        <MudTh>Gender</MudTh>
        <MudTh>Weekly / Monthly</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Rider Name">@context.riderName</MudTd>
        <MudTd DataLabel="Phone Number">@context.phoneNumber</MudTd>
        <MudTd DataLabel="Address">@context.address</MudTd>
        <MudTd DataLabel="Job Type">@context.jobType</MudTd>
        <MudTd DataLabel="Gender">@context.gender</MudTd>
        <MudTd DataLabel="Weekly / Monthly">Weekly: @context.weekly, Monthly: @context.monthly</MudTd>
        <MudTd DataLabel="Name">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="() => OpenUpdateDialog(context.address, context.gender, context.jobType, context.id, context.monthly, context.weekly)" Color="Color.Success" aria-label="edit" />
            <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="() => OpenDeleteDialog(context.id)" Color="Color.Secondary" aria-label="delete" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{5, 10, 25, 50, 100}" />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
</div>
<div class="mt-5 pb-5 w-100">
    <MudButton Variant="Variant.Filled" Color="Color.Tertiary">Export CSV</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Info">Export PDF</MudButton>
</div>
	</MudContainer>
</MudPaper>

@code {
    private Riders[]? riders;
    //private Riders[]? ridersLocal;

    public string searchString1 = "";
    public bool dense = false;
    public bool hover = true;
    public bool bordered = true;
    public bool striped = false;


    // Page On Load
    protected override async Task OnInitializedAsync()
    {
        await LoadRiders();
    }

    // Filter Cycle Check
    private bool FilterCycleCheck(Riders item)
    {
        if (item.riderName.ToLower().Contains(searchString1.ToLower()) || item.phoneNumber.Contains(searchString1))
        {
            return true;
        }
        return false;

    }

    private void OpenAddDialog()
    {
        //var parameters = new DialogParameters();
        //parameters.Add("LoadRiders", LoadRiders);

        var options = new DialogOptions { CloseOnEscapeKey = false, FullWidth=true, CloseButton=true };
        DialogService.Show<AddModal>("Add Rider Description", options);
    }
    
    
    private void OpenUpdateDialog(string address, string gender, string jobType, int itemId, bool monthly, bool weekly )
    {
        var parameters = new DialogParameters();
        parameters.Add("Address", address);
        parameters.Add("Gender", gender);
        parameters.Add("JobType", jobType);
        parameters.Add("ItemId", itemId);
        parameters.Add("Monthly", monthly);
        parameters.Add("Weekly", weekly);

        var options = new DialogOptions { CloseOnEscapeKey = false, FullWidth=true, CloseButton=true };
        DialogService.Show<UpdateModal>("Update Rider Description", parameters, options);
    }
    
    private void OpenDeleteDialog(int riderId)
    {
        var parameters = new DialogParameters();
        parameters.Add("RiderId", riderId);

        var options = new DialogOptions { CloseOnEscapeKey = false, FullWidth=true, CloseButton=true };
        DialogService.Show<DeleteModal>("Delete Rider?", parameters, options);
    }

        // Load Riders
    public async Task LoadRiders()
    {
        riders = await Http.GetFromJsonAsync<Riders[]>("https://api.bespokeit.io/api/hr/allriderdescription");
        //ridersLocal = riders;
        //await LocalStore.SetItemAsync("RidersLocal", riders);
        //ridersLocal = await LocalStore.GetItemAsync<Riders[]>("RidersLocal");
    }
}
